<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello, Internet!</title>
    <link rel="stylesheet" href="styles.css" />

    <!--  &lt;!&ndash; Facebook Meta Tags &ndash;&gt;-->
    <!--  <meta property="og:url" content="https://test-project-6.compath.link/news">-->
    <!--  <meta property="og:type" content="website">-->
    <!--  <meta property="og:title" content="A ComPath csak rád vár!">-->
    <!--  <meta property="og:description" content="Fedezd fel a Test projektet!">-->
    <!--  <meta property="og:image" content="https://fastly.picsum.photos/id/477/200/200.jpg?hmac=pGA68LBET23UPGB7L8xL1pA7PYT_x7JazGX__CnlliU">-->

    <!--  &lt;!&ndash; Twitter Meta Tags &ndash;&gt;-->
    <!--  <meta name="twitter:card" content="summary_large_image">-->
    <!--  <meta name="twitter:title" content="A ComPath csak rád vár!">-->
    <!--  <meta name="twitter:description" content="Fedezd fel a Test projektet!">-->
    <!--  <meta name="twitter:image" content="https://fastly.picsum.photos/id/477/200/200.jpg?hmac=pGA68LBET23UPGB7L8xL1pA7PYT_x7JazGX__CnlliU">-->
  </head>
  <body>
    <h1 id="title">Hello, Test2!!</h1>
    <h2 id="version">v0.0.1</h2>
    <h2 id="clientOutput">This client is:</h2>
    <h2 id="alias" class="wrapText">Alias:</h2>
    <h2 id="paramsOutput" class="wrapText">Parameters:</h2>
    <h2 id="response" class="wrapText">Response:</h2>
    <button id="fetchButton">Fetch</button>
    <button id="redirectButton">Redirect</button>

    <script type="module" src="script.js"></script>
  </body>
</html>
