<!doctype html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello, Internet!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1 id="title">Hello, Test2!!</h1>
    <h2 id="version">v0.0.1</h2>
    <h2 id="clientOutput">This client is:</h2>
    <h2 id="alias" class="wrapText">Alias:</h2>
    <h2 id="paramsOutput" class="wrapText">Parameters:</h2>
    <h2 id="response" class="wrapText">Response:</h2>
    <button id="fetchButton">Fetch</button>
    <button id="redirectButton">Redirect</button>

    <script type="module" src="script.js"></script>
  </body>
</html>
